[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.112.0"
uvicorn = "==0.44.0"
requests= "==2.31.0"

[dev-packages]

[requires]
python_version = "3.14"
python_full_version = "3.14.4"
